* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(226, 245, 218);
    
}

body{
    margin: 0;           /* quita el margen por defecto */
    padding: 0;          /* lo controlaremos en main */
    box-sizing: border-box;
    background-color: rgb(226, 245, 218);
}


.logo { 
    text-align: center; /* Centra horizontalmente */
    margin: 20px 0;     /* Espacio arriba y abajo */
}

/* menu */


.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* botones */


.cuadrado {
    --bg: #28520c; /* --bg nombre de variable */
    --hover-bg: #d8ff90;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.cuadrado:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

/* Header */

.header {
    width: 100%;
    min-height: 150px;          /* altura grande como en la web de referencia */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    /* centra verticalmente el título */
    align-items: center;        /* centra horizontalmente */
    text-align: center;
    color: white;
    position: relative;
    background-image: url('https://github.com/castordev/granjadodos/blob/main/imgs/fondo.jpg?raw=true');
}


.header h1 {
    position: relative; 
    font-size: 50px;
    letter-spacing: 3px;
}

main{
    margin-top: 40px;
    display: flex;
    flex-direction: row;      
    align-items: center;      
    justify-content: space-between; /* reparte los gifs a los lados */
    padding: 0 10%;
    box-sizing: border-box;
    gap: 5px;                
}

.article {
    max-width: 600px;
    text-align: justify;
}

.texto-somos {
    max-width: 500px;
    text-align: center;
    text-align: justify;
}


.fuerte {
    font-size: larger;    
}


.gif-i{
    width: 200px;  
    height: auto;
    margin: 10px;  /* margen para separar del texto */
    
}


.gif-d{
    width: 200px;  
    height: auto;
    margin: 10px;  
}



/* === RESPONSIVE: para pantallas pequeñas === */
@media (max-width: 700px) {
    .article {
        flex-direction: column; /* GIFs arriba/abajo del texto */
    }

    main {
        flex-direction: column;
        padding: 0 5%; /* menos sangrado en móvil */
    }

    
    .gif-i, .gif-d {
        width: 150px;
        margin: 10px 0;
    }
}